
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

:root {
 
    --display-font: "Space Grotesk", sans-serif;
    --display-size: 40px;

    --header-size: calc(var(--base-size)*1.5);

    --font-family: monospace;
    --base-size: 16px;

    --font-color: white;

    --gutters: 10px;
    --padding: 5px;
    --radius: 5px;

    /* good colors */
    --grass-bg: rgb(167, 221, 75); 
    --grass-spore: #3d5b06bd;

    /* moderate colors */
    --tree-bg: rgb(30, 21, 18); 
    --tree-spore: #bcf35dbd;

    --pollutant-size:35px;
}

body {
    font-family: var(--font-family);
    font-size: var(--base-size);
    color: var(--font-color);
    background-color: var(--tree-bg);
    margin-top: calc(var(--gutters)*2);
    margin-left: calc(var(--gutters)*2);
    margin-right: calc(var(--gutters)*2);
}

.nav_bar {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: var(--gutters);
    margin-bottom: var(--gutters);
}

.btn:hover {
    text-decoration: underline;
    cursor: pointer;
}

h1 {
    font-family: var(--display-font);
    font-size: var(--display-size);
    font-weight: 500;
}

.timezone_header {
    font-family: var(--display-font);
    font-size: var(--header-size);
    font-weight: 400;
    position: absolute; 
    left: 0;
    bottom: 0;
    margin-bottom: calc(var(--gutters) - var(--padding)) ;
}
.aqi_box {
    position: absolute; 
    right: 0;
    bottom: 0;
    margin-bottom: var(--gutters);
}

#aqi {
    font-family: var(--display-font);
    font-size: var(--header-size);
    font-weight: 500;
    text-align: right;
}

#condition {
    font-size: var(--base-size);
    font-weight: 500;
    background: white;
    color: black;
    border-radius: var(--radius);
    padding: var(--padding);
}

#timezone {
    font-weight: 500;
}

.pollutant_view {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - var(--gutters)*12);
    overflow: hidden;
    position: relative;
    /* outline: 1px white solid; */

}
.pollutant {
    height: var(--pollutant-size);
    width: var(--pollutant-size);
    border-radius: 50%;
    /* mix-blend-mode: color-dodge; */
}

.pm2_5 {
    background: white;
}

.ozone{
    background: rgb(78, 198, 9);
}

.cm{
    background: rgb(189, 213, 33);
}

.nd {
    background: rgb(218, 6, 218);
}

.sd {
    background: rgb(35, 121, 219);
}
.pollutant {
    height: 25px;
    width:25px;
    border-radius: 50%;
}

/* .nxt_btn {
    background: darkgreen;
    color: white;
    position: absolute;
    right: 0;
    margin-right: calc(var(--gutters)*2);
} */


/* ABOUT PAGE */

.about_main {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gutters)*4);
    margin-top: calc(var(--gutters)*4);
}
.pollution_info {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
    margin-top: var(--gutters);
}
.pollution_type {
    padding: var(--padding);
    border: 1px white solid;
    border-radius: var(--radius);
}


@keyframes moveSpore {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(100vw, 100vh); 
    }
  } 
    