
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    /* Fonts */
    --display-font: "Space Grotesk", sans-serif;
    --display-size: 40px;
    --header-size: calc(var(--base-size)*1.5);
    --body-font: "Poppins", sans-serif;
    --base-size: 16px;
    --tag-font: monospace;
    --tag-size: 12px;

   /* Page Formatting */
    --gutters: 10px;
    --padding: 5px;
    --radius: 5px;

    /* Page Colors */
    --dark-bg: rgb(30, 21, 18); 
    --light-bg: rgb(247, 243, 232); 

    --light-font: white;
    --dark-font: rgb(1, 29, 1); 

    /* Buttons  */
    --btn-radius: 40px;
    --btn-color: rgb(243, 196, 57);

    /* Pollutant Formatting */
    --pm2_5: rgb(233, 240, 111);
    --ozone: rgb(78, 198, 9);
    --cm: rgb(69, 224, 100);
    --nd: rgb(218, 165, 6);
    --sd: rgb(4, 86, 11);   

    --pollutant-size:35px;
    
    /* good colors */
    /* --grass-bg: rgb(167, 221, 75); 
    --grass-spore: #3d5b06bd; */

    /* moderate colors */
    /* --tree-bg: rgb(30, 21, 18); 
    --tree-spore: #bcf35dbd; */
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: var(--body-font);
    font-size: var(--base-size);
    color: var(--dark-font);
    background-color: var(--light-bg);
    margin-top: calc(var(--gutters)*2);
    margin-left: calc(var(--gutters)*2);
    margin-right: calc(var(--gutters)*2);
    margin-bottom: calc(var(--gutters)*2);
}

.nav_bar {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: var(--gutters);
    margin-bottom: var(--gutters);
    align-items: center;
}

.btn:not(.active):hover {
    text-decoration: underline;
    cursor: pointer;
}

.active {
    background-color: var(--btn-color);
    /* font-weight: 500; */
    padding-left: calc(var(--padding)*2);
    padding-right: calc(var(--padding)*2);
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    border-radius: var(--btn-radius);
}

h1 {
    font-family: var(--display-font);
    font-size: var(--display-size);
    font-weight: 500;
}

.data {
    display: flex;
    flex-direction: row;
}

.timezone_header {
    font-family: var(--display-font);
    font-size: var(--header-size);
    font-weight: 400;
    position: absolute; 
    left: 0;
    bottom: 0;

}
.aqi_box {
    position: absolute; 
    right: 0;
    bottom: 0;
}

.add_blur {
    -webkit-backdrop-filter: blur(1px); /* Fixes blur for Safari*/
    backdrop-filter: blur(1px);
}

#aqi {
    font-family: var(--display-font);
    font-size: var(--header-size);
    font-weight: 500;
    text-align: right;
}

#condition {
    font-size: var(--base-size);
    /* font-weight: 500; */
    background: black;
    color: white;
    border-radius: var(--radius);
    padding: var(--padding);
}

#timezone {
    font-weight: 500;
}

.pollutant_view {
    display: flex;
    flex-wrap: wrap;
    height: calc(100dvh - var(--gutters)*14);
    overflow: hidden;
    position: relative;
    /* outline: 1px white solid; */

}
.pollutant {
    height: var(--pollutant-size);
    width: var(--pollutant-size);
    border-radius: 50%;
    /* mix-blend-mode: color-dodge; */
}

.pm2_5 {
    background: var(--pm2_5);
}

.ozone{
    background: var(--ozone);
}

.cm{
    background: var(--cm);
}

.nd {
    background: var(--nd);
}

.sd {
    background: var(--sd);
}
.pollutant {
    height: 25px;
    width:25px;
    border-radius: 50%;
}

/* .nxt_btn {
    background: darkgreen;
    color: white;
    position: absolute;
    right: 0;
    margin-right: calc(var(--gutters)*2);
} */


/* ABOUT PAGE */

.top {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--btn-color);
    padding: calc(var(--padding)*2);
    margin-right: var(--gutters);
    margin-bottom: var(--gutters);
    border-radius: var(--radius);
    position: fixed; 
    z-index: 1;
    opacity: 0%;
    transition: 1s; 
}

.top.scrolled {
    opacity: 100%;
}

.about_page{
    background-color: var(--light-bg);
    color: var(--dark-font)
}
.about_main {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gutters)*4);
    margin-top: calc(var(--gutters)*4);
}
.pollution_list {
    display: flex;
    flex-direction: column;
    gap: calc(var(--padding)*4);
    margin-top: var(--gutters);
}
.pollution_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: calc(var(--padding)*4);
    background-color:white;
    border-radius: var(--radius);
    /* Add these to variables */
    height: 150px;
    max-width: 400px;
}

.pollutant_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pollutant_tag {
    display: flex;
    flex-direction: row;
    gap: var(--padding);
    align-items: center;
}

.icon {
    height: calc(var(--pollutant-size)/2);
    width: calc(var(--pollutant-size)/2);
    border-radius: 50%;
}

.pollutant_units {
    font-family: var(--tag-font);
    font-size: var(--tag-size);
    background-color: var(--dark-bg);
    color: white;
    border-radius: var(--radius);
    padding: var(--padding);
}


@keyframes moveSpore {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(100vw, 100vh); 
    }
  } 


  /* @media (orientation: landscape) {
    body {
      background-color: blue;
    }
  } */